@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}

header{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 2%;
    padding-top: 23px;
    grid-template-areas:"logo logo menu menu menu menu menu menu option option "  
                        "pre pre pre pre pre info info info info info "
}

header .img{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

header .img img{
    width: 158px;
    height: 95px;
    object-fit: contain;
}

header nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap:33px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "RobotoCondensed-Bold";
    font-size: 20px;
}

header .option{
    grid-area: option;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:11%;
    padding-right: 25%;
}

header .option img{
    object-fit: cover;
}