

*{
    /* font-family: "bold"; */
}
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif; /* Fuente futurista */
    background: #000;
    color: #fff;
}

.contenedor-principal {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrada {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.titulo-animado {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
    animation: neonText 3s infinite alternate, glitch 1s infinite linear;
}

.subtitulo-animado {
    font-size: 1.5em;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-out, pulse 2s infinite ease-in-out;
}

.entrada a {
    color: white;
    padding: 20px 50px;
    font-size: 1.2em;
    background: linear-gradient(135deg, #ff00cc, #33ccff); 
    text-decoration: none; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.entrada a:hover {
    transform: scale(1.1);
    box-shadow: 0 14px 28p white; } 

.entrada a:focus {
    outline: none; /* Eliminar el borde azul cuando se hace clic */
}




.luces-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff00cc, #33ccff, #ffcc00, #00ffcc);
    background-size: 400% 400%;
    animation: gradientAnimation 20s infinite ease-in-out, luces 5s infinite linear;
    filter: blur(50px);
}

@keyframes neonText {
    from { text-shadow: 0 0 15px #fff, 0 0 30px #fff, 0 0 45px #fff; }
    to { text-shadow: 0 0 30px #ff00cc, 0 0 45px #ff00cc, 0 0 60px #ff00cc; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes luces {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glitch {
    0% { transform: translate(2px, -2px); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, 2px); }
    75% { transform: translate(-2px, -2px); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}